@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@responsive {
  .col-1 {
    columns: 1;
  }
  .col-2 {
    columns: 2;
  }
  .col-3 {
    columns: 3;
  }
  .col-4 {
    columns: 4;
  }
}
